*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Estedad", Arial;
  font-optical-sizing: auto;
}
:root {
  /* Colores de Marca */
  --color-primary: #2A9D9F;
  --color-secondary: #9AD1DF;

  /* Fondos y Superficies */
  --color-background: #FFFFFF;
  --color-surface: #EAF5F8;

  /* Complementarios */
  --color-text-primary: #1F2937;
  --color-text-secondary: #6B7280;
  --color-border: #D7E8ED;

  /* Estados */
  --color-success: #2EAD67;
  --color-warning: #F4A261;
  --color-danger: #E76F51;
  --color-info: #4F9DDE;
}
